AUTOCOUNT_BASE_URL=https://accounting-api.autocountcloud.com
AUTOCOUNT_ACCOUNT_BOOK_ID=47120
AUTOCOUNT_KEY_ID=d1402c8b-6a6a-4e64-91b3-2ecd221b5ece
AUTOCOUNT_API_KEY=9a77ac9f-5658-4461-b752-466d0adc1875
SYNC_OUTPUT_DIR=data
SYNC_MAX_PAGES=500
SYNC_SAVE_HISTORY=true
