-- 为银行交易表添加唯一索引，避免重复导入
DO $$
BEGIN
    IF to_regclass('public.receipts') IS NOT NULL THEN
        CREATE UNIQUE INDEX IF NOT EXISTS idx_bank_transactions_unique 
            ON receipts (account_number, trn_date, cheque_ref_no, debit_amount, credit_amount);
    END IF;
END $$;

-- 为 account_management 表修复 updated_at 列的默认值触发器
-- PostgreSQL 不支持 ON UPDATE CURRENT_TIMESTAMP，需要通过触发器实现
DO $$
BEGIN
    IF to_regclass('public.account_management') IS NOT NULL THEN
        CREATE OR REPLACE FUNCTION update_modified_column()
        RETURNS TRIGGER AS $$
        BEGIN
            NEW.updated_at = now();
            RETURN NEW;
        END;
        $$ LANGUAGE plpgsql;

        DROP TRIGGER IF EXISTS update_account_management_modtime ON account_management;

        CREATE TRIGGER update_account_management_modtime
        BEFORE UPDATE ON account_management
        FOR EACH ROW
        EXECUTE PROCEDURE update_modified_column();
    END IF;
END $$;
